* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
c-conteiner {
	max-width: 1920px;
	width: 100%;
	margin: 0, auto;
}
ul {
	list-style: none;
	display: inline-block;
}
li {
	margin-left: 43px;
	display: inline-block;
}
a {

	text-decoration: none;
	color: #ffffff;
	font-size: 16px ;
}

.contact {
	border-style: solid;
	border-width: 7px;
	border-radius: 28px;
	border-color: white;
	background-color: white;
	color: black;
	/*border: 6px solid #ffff; შემოკლებული ვერსია (width,style,border-color*/
}
.logo {
	width: 115px;
	height: 65px;
	margin-left: auto;
}
nav {
	margin-right: auto;
}
header{
	background-color:#0A22F4 ;
	height: 388px; 
	padding-top: 50px;	
}
section {
	width: 1195px;
	margin: auto;
}
.img1 {
	width: 1195px;
	height: 600px;
}
h2 {
	font-size: 28px;
}
.sec_img {
	width: 219px;
	margin-left: 15px;
}
p {
	font-size: 16px;
}
.c-info{
	text-align: center;
}
.c-info a{
	width: 50%;
	padding:5px;
	border: 6px solid #0A22F4;
	background-color: #0A22F4;
	border-radius: 28px;
}
footer {
	background-color: #0A22F4;
	padding: 20px 0px 50px 0px;

}
.c-contact p{
	width: 463px;
	margin: 10px 0;
}
iframe {
	height: 197px;
	width: 463px;
}
.c-icons img {
	padding: 5 px;
	border: 1px solid #0A22F4;
	background-color: whitesmoke;
	border-radius: 50px ;
}
.c-rights {;
	margin-left: auto;
}
.c-madein{
	margin-right: auto;
}

